@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    border: solid black ;
    background-color: #1A0B2E;
    color: #FFFFFF;
    max-width: 1600px;
    width: 100%;
}

nav >h2 >span{
        color: #F7E93F;
        color: #FB09B4;
}

.list{
    display: flex;
    list-style: none;
    gap: 32px;
}

.btn{
    display: flex;
    background-color: Linear;
    padding:10px ;
    color: #FFFFFF;
    background-color: #FB09B4; 
}

.image{
    max-width :1600px;
    width: 100%;
    margin: 0 auto;
}

.container{
   background-color: #1A0B2E;
   max-width: 1600px;
   width: 100%;
   height: 648px;
   /* height: 223px; */  
}

.highlight{
  color: #FFFFFF;
   align-items: center;
    text-align: center;
    height: 60px;
   
    
    /* max-width: 1200px;
    width: 100%; */
}

.paragraph{
    gap: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    height: 148px;
    /* width: 1200px; */
}

.list-2{
    color: #00FF88;
    display: flex;
    list-style: none;
    gap: 80px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 48px;
    height: 59px;
    margin-left: 200px;
    margin-right: 200px;
    
}

.list-3{
   
    color: #FFFFFF;
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
