@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    border: solid black ;
    background-color: #1A0B2E;
    color: #FFFFFF;
    max-width: 1600px;
    width: 100%;
}

nav >h2 >span{
        color: #F7E93F;
        color: #FB09B4;
}